body{
    margin: 0;

}
.nav {
    background-color: black;
    height: 88px;
    display: block;
    position: fixed;
    width: 100%;
}
.nav img{
    height: 80px;
    margin-left: 16px;
    margin-top: 4px;
}
.cover {
    height: 100px;
}